In [2]:
import pandas as pd
import os

In [5]:
df = pd.read_csv("data_given\winequality.csv")

In [6]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
overview = df.describe()

In [11]:
overview

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [10]:
#Collecting the min & max value of each features

overview.loc[['min','max']]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
min,4.6,0.12,0.0,0.9,0.012,1.0,6.0,0.99007,2.74,0.33,8.4,3.0
max,15.9,1.58,1.0,15.5,0.611,72.0,289.0,1.00369,4.01,2.00,14.9,8.0

In [12]:
#You can convert into dictonary
overview.loc[['min','max']].to_dict()

{'fixed acidity': {'min': 4.6, 'max': 15.9},
 'volatile acidity': {'min': 0.12, 'max': 1.58},
 'citric acid': {'min': 0.0, 'max': 1.0},
 'residual sugar': {'min': 0.9, 'max': 15.5},
 'chlorides': {'min': 0.012, 'max': 0.611},
 'free sulfur dioxide': {'min': 1.0, 'max': 72.0},
 'total sulfur dioxide': {'min': 6.0, 'max': 289.0},
 'density': {'min': 0.99007, 'max': 1.00369},
 'pH': {'min': 2.74, 'max': 4.01},
 'sulphates': {'min': 0.33, 'max': 2.0},
 'alcohol': {'min': 8.4, 'max': 14.9},
 'TARGET': {'min': 3.0, 'max': 8.0}}

In [13]:
#Pass this to Json
overview.loc[['min','max']].to_json()

'{"fixed acidity":{"min":4.6,"max":15.9},"volatile acidity":{"min":0.12,"max":1.58},"citric acid":{"min":0.0,"max":1.0},"residual sugar":{"min":0.9,"max":15.5},"chlorides":{"min":0.012,"max":0.611},"free sulfur dioxide":{"min":1.0,"max":72.0},"total sulfur dioxide":{"min":6.0,"max":289.0},"density":{"min":0.99007,"max":1.00369},"pH":{"min":2.74,"max":4.01},"sulphates":{"min":0.33,"max":2.0},"alcohol":{"min":8.4,"max":14.9},"TARGET":{"min":3.0,"max":8.0}}'

In [14]:
# To view the json file save .json format

overview.loc[['min','max']].to_json("schema_in.json")